body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: linear-gradient(
            rgba(14, 44, 32, 0.8),
            rgba(14, 44, 32, 0.8)
        ),
        url(/assets/imagenes/alcance/fondo.webp);
    background-repeat: no-repeat;
    background-position: content;
    background-position: center;
    width: 100dvw;
    height: 100dvh;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

main {
    display: flex;
    margin: auto;
}

.next-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: calc(95dvw / 2);
    bottom: 50px;
}

.img-icons {
    width: 5rem;
}
