body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(/assets/backgrounds/blanco.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 3rem;
}
