body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(/assets/backgrounds/blanco.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99dvw;
    height: 99dvh;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    position: sticky;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

header:first-child {
    height: 6.5rem;
}

main {
    max-width: 80dvw;
    max-height: 80dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 3rem;
}
