main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    width: 80dvw;
    height: 60dvh;
}

.grid-img-1 {
    animation: appear 2s ease both;
}
.grid-img-2 {
    animation: appear 2s ease both;
    animation-delay: 1s;
}
.grid-img-3 {
    animation: appear 2s ease both;
    animation-delay: 3s;
}
.grid-img-4 {
    animation: appear 2s ease both;
    animation-delay: 5s;
}

.grid-img {
    width: 300px;
    margin: auto;
}

.center-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
    scale: 3;
    translate: 0 30px;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
