body {
    background-image: url(/assets/backgrounds/indice.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    color: white;
    display: grid;
}

.wrapper {
    position: fixed;
    margin: auto;
    left: 25dvw;
    top: 100px;
    font-size: xx-large;
}

li {
    margin: 2rem;
    color: #0e2c20;
}

span {
    color: white;
    margin-left: 1rem;
}

.icon-wrapper {
    position: relative;
    width: fit-content;
}

.circle {
    position: absolute;
    left: 0;
}

.play {
    position: absolute;
    margin: auto;
    inset: 0;
    right: 4px;
    bottom: 12px;
}
