body {
    background-image: url(/assets/backgrounds/indice.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    color: white;
    display: grid;
}

.wrapper {
    position: fixed;
    left: 27dvw;
    top: 1rem;
    margin: auto;
    margin-right: 880px;
}

li {
    margin: 0.3rem;
    color: #0e2c20;
    font-size: smaller;
}

a {
    font-size: smaller;
    font-weight: 100;
}

.sub {
    color: white;
}

ul {
    list-style: none;
}

span {
    color: white;
    /* margin-left: 1rem; */
}

.icon-wrapper {
    position: relative;
    width: fit-content;
}

.circle {
    position: absolute;
    left: 0;
}

.play {
    height: 2rem;
}
