main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.img-wrapper {
    display: flex;
    max-width: 90dvw;
    gap: 2rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 350px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    font-size: medium;
}

.fondo {
    display: none;
    /* background-color: rgba(169, 195, 3, 0.8); */
    color: #0e2c20;
    font-size: larger;
    font-weight: 600;
    height: 350px;
    width: 250px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card:first-child {
    background-image: url(/assets/imagenes/normas/x1.png);
}
.card:nth-child(2) {
    background-image: url(/assets/imagenes/normas/x2.png);
}
.card:nth-child(3) {
    background-image: url(/assets/imagenes/normas/x3.png);
}
.card:nth-child(4) {
    background-image: url(/assets/imagenes/normas/x4.png);
}

.card:hover {
    .fondo {
        display: flex;
    }
}

p {
    font-size: large;
    padding: 0 15rem;
    text-align: center;
    font-weight: 600;
}

h3 {
    color: rgb(169, 195, 3);
}

.mouse {
    height: 3rem;
}

.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-50px);
    }
    75% {
        transform: translateX(+50px);
    }
    100% {
        transform: translateX(0);
    }
}

.hvr-sweep-to-top {
    display: none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(169, 195, 3, 0.8);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: white;
}
.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.d3_main {
    max-height: 50dvh;
    display: flex;
    flex-direction: row;
}

.mujer {
    width: 30dvw;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.d4_contenido {
    margin-left: 3rem;
    width: 60%;
}

.colegas {
    height: 100dvh;
    z-index: -1;
}
