body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url(/assets/backgrounds/verde.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99dvw;
    height: 99dvh;
    color: white;
    font-size: x-large;
    text-align: center;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    position: sticky;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

main {
    display: flex;
    margin: auto;
    max-width: 80dvw;
}
